*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.box
{
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
#btn-start
{
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    margin: 5% 0;
    cursor: pointer;

}
#btn-user ,#create
{
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}
#quit
{
    background-color: #ec1212;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px; 
    cursor: pointer;
}
.box p 
{
    width: 25%;
    display: none;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 75px;
    right: 475px;
    text-align: center;
}
#success
{
  
    width: 25%;
    display: none;
    color: #fff;
    background-color: rgb(21, 100, 45);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 75px;
    right: 475px;
    text-align: center;  
}
#inputbox
{
    width: 450px;
    height: 200px;
    padding: 20px;
    display: none;
    position: absolute;
    top: 180px;
    right: 460px;
    background-color: #fff;
}
.image
{
    width: 800px;
}
.image img 
{
    width: 100%;
    object-fit: cover;
}
input
{
    width: 90%;
    padding: 10px;
}
.back
{
    width: 100%;
    height: 600px;
    background-color: rgb(134, 195, 231);
}
.heading span 
{
    color: red;
}
.heading h1
{
 font-size: 50px;
}
.parent
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
}


